<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>doctors data</title>
    <link rel ="stylesheet" href="../static/doctor's_data.css">
  </head>
  <body>
    <div id="main_box_1">
      <div><figure>
  <img src="../static/pa_1.jpg" alt="Trulli" style="width:200px;height:160px">
  <figcaption><b>ID :</b>300000<br>
              <b>NAME:</b>PRANAVI<br>
            <b>SPECIALIZATION:</b>dermatologist<br>
           <b>QUALIFICATION:</b>MBBS,MD<br>
         <b>Availaible date :</b>2020-11-12</b></figcaption>
</figure></div>
<div><figure>
<img src="../static/pa_2.jpg" alt="Trulli" style="width:200px;height:160px">
<figcaption><b>ID :</b>300001<br>
        <b>NAME:</b>ADAM<br>
      <b>SPECIALIZATION:</b>neurologist<br>
     <b>QUALIFICATION:</b>MBBS,MD,DM<br>
   <b>Availaible date :</b>2020-11-12</b></</figcaption>
</figure></div>
<div><figure>
<img src="../static/pa_3.jpg" alt="Trulli" style="width:200px;height:160px">
<figcaption><b>ID :</b>300003<br>
        <b>NAME:</b>PRANAVI<br>
      <b>SPECIALIZATION:</b>Pediatrician<br>
     <b>QUALIFICATION:</b>MBBS,DCH<br>
   <b>Availaible date :</b>2020-11-14</b></</figcaption>
</figure></div>
    </div>
    <div id="main_box_1">
      <div><figure>
  <img src="../static/pa_4.jpg" alt="Trulli" style="width:200px;height:160px">
  <figcaption><b>ID :</b>300004<br>
              <b>NAME:</b>REBECCA<br>
            <b>SPECIALIZATION:</b>gynaecologist<br>
           <b>QUALIFICATION:</b>MBBS,MS<br>
         <b>Availaible date :</b>2020-10-12</b></</figcaption>
</figure></div>
<div><figure>
<img src="../static/pa_5.jpg" alt="Trulli" style="width:200px;height:160px">
<figcaption><b>ID :</b>300005<br>
        <b>NAME:</b>ADAM<br>
      <b>SPECIALIZATION:</b>Dentist<br>
     <b>QUALIFICATION:</b>BDS,MDS<br>
   <b>Availaible date :</b>2020-11-08</b></</figcaption>
</figure></div>
<div><figure>
<img src="../static/pa_6.jpg" alt="Trulli" style="width:200px;height:160px">
<figcaption><b>ID :</b>300006<br>
        <b>NAME:</b>FELINA<br>
      <b>SPECIALIZATION:</b>orthopedic<br>
     <b>QUALIFICATION:</b>MBBS,MD<br>
   <b>Availaible date :</b>2020-10-12</b></</figcaption>
</figure></div>
    </div>
    <div id="main_box_1">
      <div><figure>
  <img src="../static/pa_7.jpg" alt="Trulli" style="width:200px;height:160px">
  <figcaption><b>ID :</b>300007<br>
              <b>NAME:</b>RAMASWAMY GANESHAN<br>
            <b>SPECIALIZATION:</b>physician<br>
           <b>QUALIFICATION:</b>MBBS<br>
         <b>Availaible date :</b>2020-11-21</b></</figcaption>
</figure></div>
<div><figure>
<img src="../static/pa_8.jpg" alt="Trulli" style="width:200px;height:160px">
<figcaption><b>ID :</b>300008<br>
        <b>NAME:</b>KEERTHI SURESH<br>
      <b>SPECIALIZATION:</b>cardialogist<br>
     <b>QUALIFICATION:</b>MBBS,MD,DM<br>
   <b>Availaible date :</b>2020-12-12</b></</figcaption>
</figure></div>
<div><figure>
<img src="../static/pa_9.jpg" alt="Trulli" style="width:200px;height:160px;">
<figcaption><b>ID :</b>300009<br>
        <b>NAME:</b>JOHN CENA<br>
      <b>SPECIALIZATION:</b>ENT<br>
     <b>QUALIFICATION:</b>MBBS,DLO,MS<br>
   <b>Availaible date :</b>2020-08-12</b></</figcaption>
</figure></div>
    </div>
  </body>
  </html>
