<html>
<head>
  <meta charset="utf-8">
  <title>donation</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body style="background-image:url('../static/hospit.jpg')">
    <div class="one">
      <div class="content" align="center"><br>
          <div class="contentbar">
            <h1>Fill Your Details to Update</h1><br>
  <div class="msg">{{msg}}</div>
  <form action="{{url_for('donation')}}" method="POST" autocomplete="OFF">
        <input type="email" name="mail_id" placeholder="enter mail_id"class="textbox"  required><br>
        <input type="text" name="donation_id" placeholder="enter donation type" class="textbox" required><br>

        <input type="date" name="donation_date" placeholder="enter donation_date" class="textbox"  required><br><br>
        <input type="submit" class="btn" value="submit">
  </form>
</div>
</div>
</div>
</body>
