<html>
    <head>
        <meta charset="UTF-8">
        <title> make an appointment </title>
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body bgcolor="#e6ffee">
        <div class="one">
            <div class="two">
      <h1>Side Bar</h1>
      <ul>
          <li class="active"><a href="{{url_for('makeappointment')}}"> Make appointment</a></li>
          <li><a href="{{url_for('index')}}">Index</a></li>
          <li><a href="{{url_for('display')}}">Display</a></li>
          <li><a href="{{url_for('update')}}">Update</a></li>
          <li><a href="{{url_for('appointments')}}">My appointments</a></li>
          <li><a href="{{url_for('donation')}}">Donate here</li>
          <li><a href="{{url_for('logout')}}">Log out</a></li>
      </ul>
  </div>
</div>
        <div class="registercontent" align="center">
            <div class="registertop">
                <h1>Book your appointment</h1>
            </div><br><br>
            <div class="registerbottom">
              <form action="{{ url_for('makeappointment') }}" method="post" autocomplete="off">
            <div class="msg">{{ msg }}</div>
            <input type="email" name="mail_id" placeholder="Enter Your Email ID" class="textbox" id="mail_id" required><br><br>
            <input type="number" name="doctor_id" placeholder="Enter doctor id" class="textbox" id="doctor_id" required><br><br>
            <input type="date" name ="date_appointment" placeholder="Enter the date for appointment" id="date_appointment" required><br><br>
            <input type="submit" class="btn" value="book appointment"><br>
              </form>
            </div>
        </div>
    </body>
</html>
