<html lang="en">
    <head>
        <title>Appointments</title>
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body style="background-image:url('../static/hospit.jpg')">

        <div class="one">
            <div class="content" align="center">
            <br>
                <div class="contentbar">
                    <h1>appointments</h1><br>
                     {% block content %}
                        <div class="border">
                            <table class="worddark"><br>
                              {% for appo in appointment %}
                                    <li>doctor id : {{appo['doctor_id']}}</li>
                                    <li>student id : {{appo['mail_id']}}</li>
                                    <li>date_appointment: {{appo['date_appointment']}}</li><br>
                              {% endfor %}
                            </table>
                        </div>
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
