<html>
    <head>
        <meta charset="UTF-8">
        <title> register </title>
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body style="background-image:url('../static/hospit.jpg')">
        <div class="registercontent" align="center">
            <div class="registertop">
                <h1>Register</h1>
            </div><br><br>
            <div class="registerbottom">
              <form action="{{ url_for('receptionist_register')}}" method="post" autocomplete="off">
            <div class="msg">{{ msg }}</div>
            <input type="email" name="mail_id" placeholder="Enter Your Email ID" class="textbox" id="mail_id" required><br><br>
            <input type="password" name="passwd" placeholder="Enter Your Password" class="textbox" id="passwd" required><br><br>
            <input type="text" name="receptionist_name" placeholder="Enter Your name" class="textbox" id="P_name" required><br><br>

            <input type="submit" class="btn" value="Register"><br><br>
              </form>
              <p class="worddark">Already have account? <a class="worddark" href="{{ url_for('receptionist_login')}}">Login here</a></p>
            </div>
        </div>
    </body>
</html>
