<html lang="en">
    <head>
        <title>update</title>
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body bgcolor="#ffffff">
        <div class="one">
            <div class="two">
                <h1>Side Bar</h1>
                <ul>
                    <li><a href="{{url_for('makeappointment')}}"> Make appointment</a></li>
                    <li><a href="{{url_for('index')}}">Index</a></li>
                    <li><a href="{{url_for('display')}}">Display</a></li>
                    <li class="active"><a href="{{url_for('update')}}">Update</a></li>
                    <li><a href="{{url_for('appointments')}}">My appointments</a></li>
                    <li><a href="{{url_for('donation')}}">Donate here</li>
                    <li><a href="{{url_for('logout')}}">Log out</a></li>
                </ul>
            </div>
            <div class="content" align="center">
                <div class="topbar">
                    <h2>Welcome!! You are in Update Page!! </h2>
                </div><br>
                <div class="contentbar">
                  <h1>Fill Your Details to Update</h1><br>
              <form action="{{ url_for('update') }}" method="post" autocomplete="off">
                    <div class="msg">{{ msg }}</div>
                    <input type="email" name="mail_id" placeholder="Enter Your Email ID" class="textbox" id="mail_id" required><br></br>
                    <input type="password" name="passwd" placeholder="Enter Your Password" class="textbox" id="passwd" required><br></br>
                    <input type="text" name="P_name" placeholder="Enter Your name" class="textbox" id="P_name" required><br></br>
                    <input type="text" name="age" placeholder="Enter Your age" class="textbox" id="age" required><br></br>
                    <input type="text" name="blood_group" placeholder="Enter Your blood group" class="textbox" id="age" required><br></br>
                    <input type="text" name="sex" placeholder="Enter Your sex" class="textbox" id="sex" required><br></br>
                    <input type="submit" class="btn" value="Update">
              </form>
                </div>

            </div>
        </div>
    </body>
</html>
